<div id='signup' class='cont'>

<div id='signupbg' class="address_page">
 
  <div id='whiteform' class="address_page">

    <div id='formhead'> 
  To where shall we deliver your flowers?    </div>
  

    <div id="signupform">
     

<%= form_for(@ship_address) do |f| %>
  
    <div class="field">
    <%= f.label :company, 'Company' %><br>
    <%= f.text_field :company %>
  </div>

   <div class="field">
    <%= f.label :first_name, 'First Name' %><br>
    <%= f.text_field :first_name, :required => true, :value => @user.first_name %>
  </div>

   <div class="field">
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :last_name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :address1, 'Address' %><br>
    <%= f.text_field :address1, :required => true %>
  </div>

 <div class="field">
    <%= f.label :address2, 'Appartment or Suite Number' %><br>
    <%= f.text_field :address2 %>
  </div>

 <div class="field">
    <%= f.label :city, 'City' %><br>
    <%= f.text_field :city, :required => true %>
  </div>

 <div class="field">
    <%= f.label :state, 'State' %><br>
    <%= f.text_field :state,  :required => true %>
  </div>


 <div class="field">
    <%= f.label :postalcode, 'Postal Code' %><br>
    <%= f.text_field :postalcode, :required => true %>
  </div>

  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :plan, :value => @plan %>


  <div class="actions">
    <%= submit_tag("Next: Billing Information", class: 'button') %>
  </div>
<% end %>
  </div>
  </div>
</div>
</div>


