<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>F name</th>
      <th>String</th>
      <th>L name</th>
      <th>String</th>
      <th>Email</th>
      <th>Salt</th>
      <th>Fish</th>
      <th>String</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.F_name %></td>
        <td><%= user.string %></td>
        <td><%= user.L_name %></td>
        <td><%= user.string %></td>
        <td><%= user.email %></td>
        <td><%= user.salt %></td>
        <td><%= user.fish %></td>
        <td><%= user.string %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
