<!DOCTYPE html>
<html>
<head>

  <title>Bloom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
		
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render partial: 'layouts/header'%> 

<div style="height:30px"></div>

<%= yield %>


</body>
</html>
